<form>
  <p>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="description" placeholder="Description">
  </p>

  <p>
    <button class="save">Save</button>
    <button class="preview">Preview</button>
    <button class="cancel">Cancel</button>
  </p>
</form>

